<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto Vault</title>
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <h1>Welcome to Crypto Vault</h1>
    <p>Login</p>
    <% if (errors.length > 0) { %>
      <p>
        <% errors.forEach((error) => { %>
          <li class="error"><%= error.msg %></li>
        <% }) %>
      </p>
    <% } %>
    <form class="login-form" action="/" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Submit</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
  </body>
</html>
