<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto Vault</title>
    <link rel="stylesheet" href="/styles/settings.css">
  </head>
  <body>
    <h1 class="title">Settings</h1>
    <nav>
        <a href="/home">Home</a>
        <a href="/vault/<%= userId %>">Vault</a>
        <a href="/settings">Settings</a>
        <a href="/">Logout</a>
      </nav>
    <% if (msg.length > 0) { %>
      <p>
        <% msg.forEach((message) => { %>
          <li class="error"><%= message %></li>
        <% }) %>
      </p>
    <% } %>
    <form  class="settings-form" action="/settings" method="post">
      <label for="settingsUsername">Username</label>
      <input
        type="text"
        id="settingsUsername"
        value="<%= user.username %>"
        name="settingsUsername"
        required
      />
      <label for="settingsPassword">Password</label>
      <input
        type="password"
        id="settingsPassword"
        value="<%= user.password %>"
        name="settingsPassword"
        required
      />
      <button type="submit">Change</button>
    </form>
    <form  class="settings-delete-form" action="/settings/delete" method="post">
        <label for="deleteAccount">Delete Account</label>
        <button type="submit" class="delete-button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><title>trash-can</title><path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M9,8H11V17H9V8M13,8H15V17H13V8Z" /></svg>
        </button>
    </form>
  </body>
</html>
